@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto+Slab:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

.color-blue { color: #2979FF; }

/* HEADER */

.header {
    border-bottom: 1px solid #e0e0e0;
}
.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 0;
}
.container {
    max-width: 1216px;
    margin-inline: auto;
}
.header__left {
    display: flex;
    align-items: flex-end;
}
.logo-wrap {
    max-width: 200px;
    margin-right: 15px;
}
.logo__text {
    font-weight: 400;
    line-height: .8rem;
    font-size: .7rem;
}
.header__right {
}
.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu__item {
    font-weight: 400;
    font-size: 1rem;
    color: #212121;
    line-height: 1.25rem;

    transition: all .2s ease;
}
.menu__item:where(:focus, :hover) {
    color: #2979FF;
    text-shadow: 0 0 1px #2979FF;
}
.touch-btn {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #2979ff;

    padding: 15px 37px;
    border: 2px solid #2979ff;
    border-radius: 8px;

    transition: all .3s linear;
}
.touch-btn:where(:focus, :hover) {
    color: white;
    box-shadow: inset 0 3.2rem 0 0 #2979FF;
}

/* / HEADER */

/* MAIN  */
.main {
    padding: 35px 0 150px;
}
.main-block {
}
.container {
}
.main__title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.5rem;

    margin-bottom: 1.25rem;
}
.main__subtitle {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    margin-bottom: 3.75rem;
}
.main__subtitle span {
    font-weight: 600;
}
.audit {
}
.audit-block {
}
.audit__title {
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2.25rem;

    margin-bottom: 1.25rem;
}
.audit-people {
    display: flex;
    gap: 21px;
}
.profile {
    display: flex;
    gap: 1.8rem;
    align-items: center;

    margin-bottom: 1.25rem;
}
.audit-person {
    flex-basis: 100%;
    background-color:#F7F8F7;

    padding: 30px 40px;
}
.person-picture {
}
.person-info {
}
.person-name {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;

    margin-bottom: 8px;
}
.person-work {
    font-weight: 400;
    font-size: 1rem;
    color: #7d7d7d
}
.person-about {
    font-weight: 400;
    font-size: 24px;
}
.audit-btn {
    display: inline-block;
    padding: 18px 42px;

    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: white;

    border: 1px solid #2979FF;
    border-radius: 8px;
    background-color: #2979FF;

    margin-top: 30px;
    transition: all .3s linear;
}
.audit-btn:where(:hover, :focus) {
    color: #2979FF;
    box-shadow: inset 17rem 0 0 0 white;
}
.text-align-center {
    text-align: center;
}

.clients {
    margin-top: 160px;
}
.clients-block {
    display: flex;
    justify-content: space-between;
}
.our-clients {

}
.our-clients h2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;

    margin-bottom: 20px;
}
.our-clients p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 28px;
}
.images {
    display: flex;
    align-items: center;
}
.lets-talk {
    text-align: center;
    padding: 32.5px 17px;
    border: 2px solid #2979FF40;
}
.lets-talk p {
    max-width: 502px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #536076;

    margin-bottom: 20px;
}
.talk-btn {
    display: inline-block;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    line-height: 1.25rem;

    padding: 18px 42px;
    border: 1px solid #2979FF;
    background-color: #2979FF;
    border-radius: 8px;
    transition: all .3s linear
}
.talk-btn:where(:hover, :focus) {
    color: #2979FF;
    box-shadow: inset 0 0 0 2em white;
}
/* / MAIN  */

/* ACHIEVEMENTS */

.achievements {
    padding: 100px 0 95px;
    background-color: #F7F8F7;

}
.achievements-block {
    width: 1076px;
    text-align: center;
}
.achieve__title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;

    margin-bottom: 20px;
}
.achieve__subtitle {
    font-family: 'Roboto Slab', serif;

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;

    margin-bottom: 48px;
}
.achieve__subtitle p {
    font-weight: 700;
}
.color-blue {
}
.achieve__content {
    display: flex;
    justify-content: center;
    gap: 86px;
}
.content-box {
}
.content-box h3 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 20px;
}
.content-img {
    margin-bottom: 25px;
}
.content-box a {
    display: inline-block;
    padding: 18px 42px;

    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.25rem;
    border-radius: 8px;
    transition: all .3s linear;
}
.certificate-btn {
    color: #2979ff;
}
.certificate-btn:where(:focus, :hover) {
    background-color: #2979FF;
    color: white;
}
.report-btn {
    color: white;
    background-color: #2979FF;
}
.report-btn:where(:focus, :hover) {
    background-color: white;
    color: #2979FF;
}


/* / ACHIEVEMENTS */

/* CASES */
.cases {
    margin-top: 150px;
}
.cases-block {
}
.cases-title {
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.case-wrapper {
}
.case-box {
    width: 100%;
    display: flex;
    gap: 63px;
    justify-self: center;
    align-items: center;

    padding: 39px 40px;
    margin-bottom: 40px;
}
.case-content {
    flex-basis: 100%;
}
.case-logo-wrapper {
    width: 269px;
    margin-bottom: 30px;
}
.case-link {
    display: block;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #E65100;

    margin-bottom: 23px;
}
.case-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
}
.case-stacks {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 40px;
}
.weak-grey {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #7d7d7d;
}
.read_case {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #2979FF;

    position: relative;
}
.read_case::after {
    content: url('../img/arrow-up-right.jpg');
    display: block;
    width: 11px;
    position: absolute;
    top: 2.5px;
    right: -20px;
}
.case-macbook-wrapper {
    flex-basis: 100%;
    max-height: 427px;
}
/* / CASES */

/* TECHNOLOGIES  */
.technologies {
    margin: 150px 0;
}
.technologies-block {
}
.tech-title {
    margin-bottom: 40px;
    text-align: center;

    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.tech-content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-content: center;
}
.tech-box {
    display: flex;
    gap: 18px;
    align-items: center;

    transition: box-shadow .3s linear;
    padding: 18px;
    box-shadow: #2978ff37 0px 8px 24px;
    border-radius: 10px;
}
.tech-box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, #2979FF 0px 3px 7px -3px;
}
.tech-img-wrapper {
    width: 70px;
}
.tech-info {
}
.tech-job-count {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #E65100;


    border-radius: 30px;
    padding: 5px 12px;
    background: #FFEFE9;
}
.tech-name {
    font-weight: 400;
    font-size: 25px;

    margin: 6px 0 0 6px;
}
/* / TECHNOLOGIES  */

/* ABOUT US  */
.about {
}
.about-block {
}
.about-title {
}
.flex {
}
.about-subtitle {
}
.about-content {
}
.about-content__box {
}
.about-content__icon {
}
.about-content__info {
}
/* / ABOUT US  */